<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}1º Prêmio ESG SETCEPAR{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <div class="footer">
        <div class="footer-text">Auditoria - IPTC <span class="registered-symbol">®</span></div>
        <img src="{{ url_for('static', filename='LOGO_IPTC.jpg') }}" alt="Logo IPTC"
             class="footer-logo" style="width: 115px; height: 25px;">
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>
